@font-face {
	font-family: "Elure";
	src: url("./Elure-woA9w.otf") format('opentype');
}

body {
	margin:0px;
}

#mainTitleContainer {
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-top:5%;
	padding-left:25%;
	padding-right: 25%;
	padding-bottom: 5%;
	background-color: #e9f2ff;
}

#outputContainer {
	padding-top:1%;
	padding-left:20%;
	padding-right: 20%;
	padding-bottom: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e9f2ff;

}

#mainHeader {
	font-family: 'Elure';
	font-size: 500%;
	padding-right: 50px;
}

#subText {
	font-family: 'Elure';
	font-size: 150%;
	text-align: justify;
	padding-right: 50px;
	padding-bottom: 50px;
	width: 75%;
}

#shortenButton {
	font-family:'Elure';
	font-size: 50px;

	transition-duration: 0.4s;
	color: #1c7fff;
	background-color: white;
	width: 30%;
	border-color: #1c7fff;
	font-size: 25px;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

#shortenButton:hover {
	background-color:#1c7fff;
	color: white;
	border-color: #1c7fff;
	border-radius: 10px;
}

#userInput {
	width: 60%;
	width: 60%;
	border-radius: 10px;
	padding: 10px;
	border-color: #1c7fff;
	font-family:'Elure';
	font-size: 25px;
}

#userInteractionContainer {
	height: 75px;
}

#shortUrlContainer {
	width: 50%;
	border-style: solid;
	background-color: white;
	border-color: #1c7fff;
	padding: 10px;
	border-radius: 10px;
	display: none;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

#shortUrl {
	font-family:'Elure';
	font-size: 25px;
	padding: 5px;
}

#copyButton {
	color:black;
	transition-duration: 0.4s;
	background-color: #1c7fff;
	border-style: hidden;
	border-radius: 10px;
	height: 40px;
	width: 40px;
}

#copyButton:hover {
	background-color: #24e1ba;
}

#copyImage {
	height: 25px;
	width: 25px;
}

#errorContainer, #incorrectShortcodeContainer {
	width: 50%;
	border-style: solid;
	background-color: white;
	border-color: red;
	padding: 10px;
	border-radius: 10px;
	display: none;
	height: 40px;
  	justify-content: center;
  	align-items: center;
	transition-duration: 0.4s;
}

#errorMessage {
	font-family: 'Elure';
	font-size: 20px;
}

#errorContainer:hover, #incorrectShortcodeContainer:hover {
	background-color: red;
	color: white;
}

#incorrectShortcodeMsg {
	font-family: 'Elure';
	font-size: 20px;
}


#urlsContainerWrapper {
	margin-left: 15%;
	margin-right: 15%;
	background-color: white;
	padding-top:5%;
	padding-bottom:5%;

}

#latestUrlsContainer {
	margin-left: 15%;
	margin-right: 15%;
	border-color:#1c7fff;
	border-style: solid;
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	padding-bottom:50px;
	padding-top:25px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: #e9f2ff;
}

#latestUrlsTable {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Elure';
	background-color:white;
	border-color: #1c7fff;
	border-style: solid;
	border-radius: 10px;
	padding: 10px;
}

th, td {
	padding: 10px;
	border: 1px solid #1c7fff;
}

#latestUrlsText {
	text-align: center;
	margin-bottom: 25px;
	font-family: 'Elure';
	font-size:40px;
}
