{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static './styles.css' %}" />
  </head>
  <body>
    <nav class="dashboard-nav">
      <a href="/">Home</a>
    </nav>
    <main class="dashboard-main">
      <div class="dashboard-container">
        <h1>Dashboard</h1>
        <h3>Your URLs</h3>
        <table class="dashboard-table">
          <thead>
            <tr><th>Short URL</th><th>Destination</th><th>Clicks</th><th>QR Code</th></tr>
          </thead>
          <tbody>
            {% for url, url_specs in user_urls.items %}
            <tr>
                <td>
                <a href="{{ url_specs.shortened_url }}"
                    >{{ url_specs.shortened_url }}</a
                >
                </td>
                <td><a href="{{ url_specs.original_url }}">{{ url_specs.original_url }}</a></td>
                <td><p>{{ url_specs.clicks }}</p></td>
                <td style="text-align:center;">
                  <button class="downloadQrBtnDb" data-url="{{ url_specs.shortened_url }}">Generate</button>
                </td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
  <script src="{% static './main.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
</html>
