{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{% static './styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static './website_icon.png' %}">
</head>
<body>
    <div id="mainTitleContainer">
        <div id="mainTitleSubContainer">
            <h1 id="mainHeader">URL Shortener</h1>
            <p id="subText">
                Shorten your URL with this website!
                Input your URL into the designated area and press the "Shorten!" button.
                A short URL will be generated and displayed on the screen.
            </p>
            <div id="interactiveContainer">
                <div id="userInteractionContainer">
                    <input id="userInput" placeholder="Paste your URL here...">
                    <button type="button" id="shortenButton">Shorten!</button>
                </div>
                <div id="shortUrlContainer">
                    <a id="shortUrl"></a>
                    <button id="copyButton"><img id="copyImage" src="{% static 'copy_icon.png' %}"></button>
                </div>
                <div id="errorContainer">
                    <p id="errorMessage"></p>
                </div>
                {% if shortcode %}
                <div id="incorrectShortcodeContainer" style="display:flex;">
                    <p id="incorrectShortcodeMsg">Incorrect shortcode: {{ shortcode }}</p>
                </div>   
                {% endif %}
            </div>
        </div>
        <img src="{% static 'url_icon.png' %}">
    </div>
    <div id="urlsContainerWrapper">
        <div id="latestUrlsContainer">
                <h3 id="latestUrlsText">Recently created short URLs</h3>
            <table id="latestUrlsTable">
                <tr>
                    <th>Short URL</th>
                    <th>Redirects to:</th>
                </tr>
                    {% for shortcode, original_url in latest_urls.items %}
                <tr>
                    <td><a href="http://127.0.0.1:8000/{{shortcode}}">http://127.0.0.1:8000/{{shortcode}}</a></td>
                    <td><a href="{{ original_url }}">{{ original_url }}</a></td>
                </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    <script src="{% static './main.js' %}"></script>
</body>
</html>