{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{% static './styles.css' %}">
</head>
<body>
    <div>
        <div>
            <div>
                <h1 id="mainHeader">Welcome to the URL Shortener Service</h1>
            </div>
            <img src="{% static './url_icon.png'}" alt="Url Icon">
        </div>
    </div>
    {% if shortcode %}
        <p id="incorrectShortcodeMsg">Incorrect shortcode: {{ shortcode }}</p>
    {% endif %}
    <div>
        <input id="userInput">
        <button type="button" id="shortenButton">Shorten!</button>
    </div>
    <div>
        <a id="shortUrl"></a>
    </div>
    <div>
        <p id="errorMessage"></p>
    </div>
    <script src="{% static './main.js' %}"></script>
</body>
</html>