name: CI/CD - Test, Build and Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with coverage
        run: |
          python manage.py migrate
          coverage run manage.py test
          coverage xml

      - name: Coverage condition check
        run: coverage report --fail-under=70

  build:
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: playlisteracr.azurecr.io
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A6A8DFD4D099451F9773A2909C9E39A6 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_89E06F331787485E80A11F7F2AE0803C }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            playlisteracr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A6A8DFD4D099451F9773A2909C9E39A6 }}/url_shortener:${{ github.sha }}
            playlisteracr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A6A8DFD4D099451F9773A2909C9E39A6 }}/url_shortener:latest
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6A6BF7758DA04745A6C790E3FF2770E2 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_1B3E241FEA774E06A303086E1A414D18 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_22B2B2BD0BAC49D0B3F5ABDC57FCF70C }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'oskar-url-shortener'
          slot-name: 'Production'
          images: 'playlisteracr.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_A6A8DFD4D099451F9773A2909C9E39A6 }}/url_shortener:${{ github.sha }}'