trigger:
- main

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
  displayName: 'Install requirements'

- script: |
    python manage.py migrate
    coverage run manage.py test
    coverage xml
  displayName: 'Run tests with coverage'

- script: coverage report --fail-under=70
  displayName: 'Coverage condition check'